<!-- Designed to add a new task or update an existing task -->
<div [hidden]="loggedIn === false">
  <!-- Category selection for a new entry (of a task) -->
  Choose a category for a new task:
  <select id="categoryDropdown" [disabled]="loggedIn === false" (change)="assignCategory()">
    <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
  </select>
  <br>

  <!-- Task selection for an update -->
  Choose an existing task to modify:
  <select id="taskDropdown" [disabled]="loggedIn === false" (change)="updateContent()">
    <option *ngFor="let task of taskList" value="{{task}}">{{task}}</option>
  </select>

  <!-- Display and allow update of contents of a task -->
  <textarea id="task" style="width: 100%; height: 250px" [disabled]="task === undefined || task['categoryId'] === null"></textarea>

  <!-- Buttons to trigger action -->
  <button (click)="saveTask(false)">New Task</button>
  <button (click)="saveTask(true)">Update Task</button><br>
</div>
