<!-- Designed to add a new task or update an existing task -->

<select id="categoryDropdown" [disabled]="loggedIn === false" (change)="assignCategory()">
  <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
</select>

<textarea id="task" style="width: 100%; height: 250px" [innerHTML]="task | json"
          [disabled]="task === undefined || task['categoryId'] === null"></textarea>
<button (click)="saveTask(false)">New Task</button>
<button (click)="saveTask(true)">Update Task</button><br>
