@media screen and (min-height: 200px) { /* Designed for iPhone 11 */
  table {font-size: 10px; padding: 0 5px;}
  table tr th input, table tr td input {width: 40px; height: 10px; font-size: 10px;}
}
@media screen and (min-height: 900px) { /* Designed for desktop */
  table {font-size: 15px; padding: 5px 5px;}
  table tr th input, table tr td input {width: 70px; height: 15px; font-size: 15px;}
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 3px 5px;
}

/* Don't auto-zoom when an input field is selected - by having font size to be the default size (it'll still auto-center though) */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
