<table>
  <tr>
    <th id="header" *ngFor="let column of this.headers" style="font-size: 12px">
      <!-- display all column names as they are except display 'goalCount' as 'goal' to keep the column width smaller -->
      <label *ngIf="column !== 'goalCount'">{{column}}</label>
      <label *ngIf="column === 'goalCount'">goal</label>
    </th>
  </tr>
  <tr id="content-row" *ngFor="let row of this.dataToDisplay">
    <td id=content-column* *ngFor="let column of this.headers" [ngClass]="{
      'no-wrap': column === 'details',
      'archived': row.archived,
      'time-to-highlight': column === 'time' && this.timeToHighlight === row[column],
      'hundred-percent-done': row['count'] >= row['goalCount'],
      'eighty-percent-done': row['count'] < row['goalCount'] && row['count'] >= row['goalCount']*4/5,
      'sixty-percent-done': row['count'] <= row['goalCount']*4/5 && row['count'] >= row['goalCount']*3/5,
      'forty-percent-done': row['count'] <= row['goalCount']*3/5 && row['count'] >= row['goalCount']*2/5,
      'twenty-percent-done': row['count'] <= row['goalCount']*2/5 && row['count'] >= row['goalCount']/5}"
        style="background-color:{{categoryColors[row[column]]}}">
      <!-- todo display data for the past 7 days OR the current week -->
      <!-- todo merge category column over multiple rows -->
      <!-- todo display streak -->
      <label *ngIf="loggedIn === false || column !== 'count'">{{row[column]}}</label>
      <!-- TODO allow expectedTimesOfCompletion to be modified easily -->
      <input *ngIf="loggedIn === true && column === 'count'" type="number" value="{{row[column]}}"
             (focusout)="updateSubentryCount(row, $event)" (focusin)="row[column] === 0 ? row[column] = '' : null">
    </td>
  </tr>
</table>
