<!-- todo refresh button to refresh today's entry -->
<!-- TODO chart and note on top - with checkbox to hide em -->
<label [ngClass]="{
      'hundred-percent-done': overallCompletionRate >= 100,
      'eighty-percent-done': 80 <= overallCompletionRate && overallCompletionRate < 100,
      'sixty-percent-done': 60 <= overallCompletionRate && overallCompletionRate < 80,
      'forty-percent-done': 40 <= overallCompletionRate && overallCompletionRate < 60,
      'twenty-percent-done': 20 <= overallCompletionRate && overallCompletionRate < 40}">
  {{overallCompletionRate | number : '0.2-2'}}%</label>
({{dbService.today}} {{dbService.dayOfToday}})
<input id="incomplete" type="checkbox" [checked]="displayIncompleteOnly" (change)="toggle('incomplete', !displayIncompleteOnly)">
<label for="incomplete">incomplete</label>
<input id="fullDisplay" type="checkbox" [checked]="displayFullInfo" (change)="toggle('fullDisplay', !displayFullInfo)">
<label for="fullDisplay">full display</label>
<br>

<!-- Log in to see data -->
<label id="emailLabel" for="emailInput"> email: </label>
<input id="emailInput" value={{this.email}}>
<label id="passwordLabel" for="passwordInput"> password: </label>
<input id="passwordInput" type="password">
<button id="login" (click)="login()">login</button>

<!-- todo display notes on top (yearly goal, monthly goal, quotes) -->

<!-- Displaying data -->
<table>
  <tr>
    <th id="header" *ngFor="let column of this.headers" style="font-size: 12px">
      {{column}}
    </th>
  </tr>
  <tr id="content-row" *ngFor="let row of this.dataToDisplay">
    <td id=content-column* *ngFor="let column of this.headers" [ngClass]="{
      'hundred-percent-done': row['count'] >= row['goalCount'],
      'eighty-percent-done': row['count'] < row['goalCount'] && row['count'] >= row['goalCount']*4/5,
      'sixty-percent-done': row['count'] <= row['goalCount']*4/5 && row['count'] >= row['goalCount']*3/5,
      'forty-percent-done': row['count'] <= row['goalCount']*3/5 && row['count'] >= row['goalCount']*2/5,
      'twenty-percent-done': row['count'] <= row['goalCount']*2/5 && row['count'] >= row['goalCount']/5}"
      style="background-color:{{categoryColors[row[column]]}}">
      <!-- todo display data for the past 7 days OR the current week -->
      <!-- todo merge category column over multiple rows -->
      <!-- todo display streak -->
      <label *ngIf="loggedIn === false || column !== 'count'">{{row[column]}}</label>
      <input *ngIf="loggedIn === true && column === 'count'" type="number" value="{{row[column]}}"
             (focusout)="updateEntryCount(row, $event)">
    </td>
  </tr>
</table>

<!-- Enter a new goal -->
<label *ngIf="loggedIn">New goal: </label>
<select id="newGoalCategory" *ngIf="loggedIn">
  <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
</select>
<input id="newGoalName" placeholder="*name" style="width: 100px" *ngIf="loggedIn">
<input id="newGoalGoalCount" type="number" placeholder="*goalCount" style="width: 70px" *ngIf="loggedIn">
<input id="newGoalUnit" placeholder="*unit" style="width: 50px" *ngIf="loggedIn">
<input id="newGoalDetails" placeholder="*details" style="width: 100px" *ngIf="loggedIn">
<button (click)="save('New Goal')" *ngIf="loggedIn">save</button>
<br>

<!-- Update an existing goal -->
<label *ngIf="loggedIn">Modify goal: </label>
<select id="modifyGoalName" *ngIf="loggedIn">
  <option *ngFor="let name of goalList" value="{{name}}">{{name}}</option>
</select>
<input id="modifyGoalGoalCount" type="number" placeholder="goalCount" style="width: 70px" *ngIf="loggedIn">
<input id="modifyGoalUnit" placeholder="unit" style="width: 50px" *ngIf="loggedIn">
<input id="modifyGoalDetails" placeholder="details" style="width: 100px" *ngIf="loggedIn">
<button (click)="save('Modify Goal')" *ngIf="loggedIn">save</button>
<br>

{{version}}

<!-- (Testing) display all categories and goals -->
<!-- todo display entries of past dates -->
<label for="testing">testing</label>
<input id="testing" type="checkbox" [checked]="testing" (change)="testing = !testing">
<table *ngIf="testing">
  <tr *ngFor="let row of this.categories">
    <td *ngFor="let column of ['category']" >
      <label>{{row[column]}}</label>
    </td>
  </tr>
</table>
<br>
<table *ngIf="testing">
  <tr *ngFor="let row of this.goals">
    <td *ngFor="let column of ['category', 'name', 'archived', 'goalCount', 'unit', 'details']" >
      <label>{{row[column]}}</label>
    </td>
  </tr>
</table>



<!-- TODO: schedule - display goals and daily entry based on time (not by category) -->
<!-- todo: charts
  - display completion rates over days for multiple goals (with selection options)
  - allow changing the timeline
-->
<!-- todo: notifications -->
<!-- todo: handling money - based on the daily progress, move money from 'maybe' account to 'donate' and 'free to use' accounts -->
