/* Adjusting height based on window/screen height */
table {height: 100%;}
@media screen and (min-height: 200px) { /* Designed for iPhone 11 */
  .div-table {height: 505px;}
}
@media screen and (min-height: 900px) { /* Designed for desktop */
  .div-table {height: 790px;}
}

/* make scrollbar invisible */
::-webkit-scrollbar {
  background: transparent;
}

/* Collapsible */
.collapsible {
  background-color: #DDDDDD;
  padding: 5px 10px;
}
