<!-- TODO put everything in the center of the screen? -->
<!-- todo week-by-week completion rate chart? -->
<ejs-chart #topChart id="chart-container" *ngIf="display.topChart" (loaded)="reloadChart($event)" width="300" height="200"
           [primaryXAxis]="{valueType:'Category', title: 'Dates'}" [primaryYAxis]="{minimum: 0, maximum: 100, interval: 20, title: 'Percents'}">
  <e-series-collection>
    <e-series [dataSource]='this.overallCompletionRates' type='Line' xName='date' yName='percent' name="overall"></e-series>
  </e-series-collection>
</ejs-chart>

<!-- todo refresh button to refresh today's entry -->
<!-- TODO note on top - with checkbox to hide em -->
<label [ngClass]="{
      'hundred-percent-done': overallCompletionRate >= 100,
      'eighty-percent-done': 80 <= overallCompletionRate && overallCompletionRate < 100,
      'sixty-percent-done': 60 <= overallCompletionRate && overallCompletionRate < 80,
      'forty-percent-done': 40 <= overallCompletionRate && overallCompletionRate < 60,
      'twenty-percent-done': 20 <= overallCompletionRate && overallCompletionRate < 40}" style="color: red">
  {{overallCompletionRate | number : '0.2-2'}}%</label>
({{dbService.today}} {{dbService.dayOfToday}})
<input id="displayAllOptions" type="checkbox" [checked]="display.allOptions" (change)="toggle('allOptions', !display.allOptions)">
<label for="displayAllOptions">display options</label>

<!-- TODO some 'classification' on what I can do in given situations (if I'm out and wearing masks -> smile or mewing / if I'm with friends -> ??) -->
<!-- todo web is getting slower, so put a spinning wheel while processing -->
<br *ngIf="display.allOptions">
<input id="displayIncompleteOnly" type="checkbox" [checked]="display.incompleteOnly" (change)="toggle('incompleteOnly', !display.incompleteOnly)" *ngIf="display.allOptions">
<label for="displayIncompleteOnly" *ngIf="display.allOptions">incomplete</label>
<input id="displayFullInfo" type="checkbox" [checked]="display.fullInfo" (change)="toggle('fullInfo', !display.fullInfo)" *ngIf="display.allOptions">
<label for="displayFullInfo" *ngIf="display.allOptions">full display</label>
<input id="displayInSchedules" type="checkbox" [checked]="display.inSchedules" (change)="toggle('inSchedules', !display.inSchedules)" *ngIf="display.allOptions">
<label for="displayInSchedules" *ngIf="display.allOptions">in schedule</label>
<input id="displayTopChart" type="checkbox" [checked]="display.topChart" (change)="toggle('topChart',!display.topChart)" *ngIf="display.allOptions">
<label for="displayTopChart" *ngIf="display.allOptions">display chart</label>
<br>

<!-- Log in to see data -->
<label id="emailLabel" for="emailInput"> email: </label>
<input id="emailInput" value={{this.email}}>
<label id="passwordLabel" for="passwordInput"> password: </label>
<input id="passwordInput" type="password">
<button id="login" (click)="login()">login</button>

<!-- todo display notes on top (yearly goal, monthly goal, quotes) -->

<!-- Displaying data -->
<div style="display: block; overflow: scroll"
     [ngClass]="{'div-table-with-chart': this.display.topChart, 'div-table-no-chart': this.display.topChart === false}">
<table>
  <tr>
    <th id="header" *ngFor="let column of this.headers" style="font-size: 12px">
      <label *ngIf="column !== 'goalCount'">{{column}}</label>
      <label *ngIf="column === 'goalCount'">goal</label>
    </th>
  </tr>
  <tr id="content-row" *ngFor="let row of this.dataToDisplay">
    <td id=content-column* *ngFor="let column of this.headers" [ngClass]="{
      'no-wrap': column === 'details',
      'time-to-highlight': column === 'time' && this.timeToHighlight === row[column],
      'hundred-percent-done': row['count'] >= row['goalCount'],
      'eighty-percent-done': row['count'] < row['goalCount'] && row['count'] >= row['goalCount']*4/5,
      'sixty-percent-done': row['count'] <= row['goalCount']*4/5 && row['count'] >= row['goalCount']*3/5,
      'forty-percent-done': row['count'] <= row['goalCount']*3/5 && row['count'] >= row['goalCount']*2/5,
      'twenty-percent-done': row['count'] <= row['goalCount']*2/5 && row['count'] >= row['goalCount']/5}"
      style="background-color:{{categoryColors[row[column]]}}">
      <!-- todo display data for the past 7 days OR the current week -->
      <!-- todo merge category column over multiple rows -->
      <!-- todo display streak -->
      <label *ngIf="loggedIn === false || column !== 'count'">{{row[column]}}</label>
      <input *ngIf="loggedIn === true && column === 'count'" type="number" value="{{row[column]}}"
             (focusout)="updateSubentryCount(row, $event)" (focusin)="row[column] === 0 ? row[column] = '' : null">
    </td>
  </tr>
</table>
</div>

{{version}} {{environment}}

<!-- Testing -->
<input id="testing" type="checkbox" [checked]="testing" (change)="testing = !testing; updateModifyGoalInputElements()">
<label for="testing">testing</label>
<br>

<!-- (Testing) Enter a new goal -->
<div [hidden]="!testing">
  <form (submit)="save('New Goal')">
    <label>New goal: </label>
    <select id="newGoalCategory" [disabled]="loggedIn === false">
      <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
    </select>
    <input id="newGoalName" placeholder="name" style="width: 100px" [disabled]="loggedIn === false" required>
    <input id="newGoalGoalCount" type="number" placeholder="goalCount" style="width: 70px" [disabled]="loggedIn === false" required>
    <input id="newGoalUnit" placeholder="unit" style="width: 50px" [disabled]="loggedIn === false" required>
    <input id="newGoalExpectedTimesOfCompletion" placeholder="time to complete" style="width: 100px" [disabled]="loggedIn === false" required>
    <input id="newGoalDetails" placeholder="details" style="width: 100px" [disabled]="loggedIn === false">
    <input type="submit" value="save">
  </form>
</div>

<!-- (Testing) Update an existing goal -->
<div [hidden]="!testing">
  <form (ngSubmit)="save('Modify Goal')">
    <label>Modify goal: </label>
    <select id="modifyGoalName" [disabled]="loggedIn === false" (change)="updateModifyGoalInputElements()">
      <option *ngFor="let name of goalList" value="{{name}}">{{name}}</option>
    </select>
    <input id="modifyGoalGoalCount" type="number" placeholder="goalCount" style="width: 70px" [disabled]="loggedIn === false">
    <input id="modifyGoalUnit" placeholder="unit" style="width: 50px" [disabled]="loggedIn === false">
    <input id="modifyGoalDetails" placeholder="details" style="width: 100px" [disabled]="loggedIn === false">
    <input id="modifyGoalExpectedTimesOfCompletion" placeholder="*time to complete" style="width: 100px" [disabled]="loggedIn === false">
    <input type="submit" value="save">
  </form>
</div>
{{saveMessage}}

<!-- (Testing) display all categories and goals -->
<!-- todo display entries of past dates -->
<table [hidden]="!testing">
  <tr *ngFor="let row of this.categories">
    <td *ngFor="let column of ['category']" >
      <label>{{row[column]}}</label>
    </td>
  </tr>
</table>
<br>

<label [hidden]="!testing">{{this.activeGoals.length}} active goals </label>
<label [hidden]="!testing" style="background-color: #FF9999">({{this.archivedGoals.length}} archived goals)</label>
<table [hidden]="!testing">
  <tr *ngFor="let row of this.goals">
    <td *ngFor="let column of ['category', 'name', 'archived', 'goalCount', 'unit', 'expectedTimesOfCompletion', 'details']"
      [ngStyle]="{'background-color': row.archived ? '#FF9999' : 'white'}">
      <label>{{row[column]}}</label>
    </td>
  </tr>
</table>



<!-- todo: charts
  - display completion rates over days for multiple goals (with selection options)
  - allow changing the timeline
-->
<!-- todo: notifications -->
<!-- todo: handling money - based on the daily progress, move money from 'maybe' account to 'donate' and 'free to use' accounts -->
