<!-- Notes -->
<div *ngIf="!display.notes" (dblclick)="display.notes = !display.notes" class="collapsible">Notes</div>
<div *ngIf="display.notes" (dblclick)="display.notes = !display.notes">
  <div *ngFor="let note of this.notes">
    <div style="white-space: pre; word-wrap: normal;">- {{note.name}}: {{note.text}}</div><br>
  </div>
  <br>
</div>

<!-- TODO put everything in the center of the screen? -->
<!-- todo week-by-week completion rate chart? -->
<!-- Chart -->
<div *ngIf="!display.topChart" (dblclick)="display.topChart = !display.topChart" class="collapsible">Chart</div>
<div (dblclick)="display.topChart = !display.topChart">
  <ejs-chart #topChart id="overall-completion-rates-chart" *ngIf="display.topChart" width="300" height="200"
             [primaryXAxis]="{valueType:'Category', title: 'Dates'}" [primaryYAxis]="{minimum: 0, maximum: 100, interval: 20, title: 'Percents'}">
    <e-series-collection>
      <e-series [dataSource]='this.overallCompletionRates' type='Line' xName='date' yName='percent' name="overall"></e-series>
    </e-series-collection>
  </ejs-chart>
</div>

<!-- todo refresh button to refresh today's entry -->
<!-- Today's completion rate & today's date & display option checkbox -->
<label [ngClass]="{
      'twenty-percent-done': 20 <= overallCompletionRate && overallCompletionRate < 40,
      'forty-percent-done': 40 <= overallCompletionRate && overallCompletionRate < 60,
      'sixty-percent-done': 60 <= overallCompletionRate && overallCompletionRate < 80,
      'eighty-percent-done': 80 <= overallCompletionRate && overallCompletionRate < 100,
      'hundred-percent-done': overallCompletionRate >= 100}" style="color: red">
  {{overallCompletionRate | number : '0.2-2'}}%</label>
({{dbService.today}} {{dbService.dayOfToday}})
<input id="displayAllOptions" type="checkbox" [checked]="display.allOptions" (change)="toggle('allOptions', !display.allOptions)">
<label for="displayAllOptions">display options</label>

<!-- TODO some 'classification' on what I can do in given situations (if I'm out and wearing masks -> smile or mewing / if I'm with friends -> ??) -->
<!-- todo web is getting slower, so put a spinning wheel while processing -->
<!-- display checkboxes -->
<br *ngIf="display.allOptions">
<input id="displayIncompleteOnly" type="checkbox" [checked]="display.incompleteOnly" (change)="toggle('incompleteOnly', !display.incompleteOnly)" *ngIf="display.allOptions">
<label for="displayIncompleteOnly" *ngIf="display.allOptions">incomplete</label>
<input id="displayFullInfo" type="checkbox" [checked]="display.fullInfo" (change)="toggle('fullInfo', !display.fullInfo)" *ngIf="display.allOptions">
<label for="displayFullInfo" *ngIf="display.allOptions">full display</label>
<input id="displayInSchedules" type="checkbox" [checked]="display.inSchedules" (change)="toggle('inSchedules', !display.inSchedules)" *ngIf="display.allOptions">
<label for="displayInSchedules" *ngIf="display.allOptions">in schedule</label>
<input id="displayTopChart" type="checkbox" [checked]="display.topChart" (change)="toggle('topChart',!display.topChart)" *ngIf="display.allOptions">
<label for="displayTopChart" *ngIf="display.allOptions">display chart</label>
<input id="displayNotes" type="checkbox" [checked]="display.notes" (change)="toggle('notes',!display.notes)" *ngIf="display.allOptions">
<label for="displayNotes" *ngIf="display.allOptions">display notes</label>
<br>

<!-- Log in to see data -->
<label id="emailLabel" for="emailInput"> email: </label>
<input id="emailInput" value={{this.email}}>
<label id="passwordLabel" for="passwordInput"> password: </label>
<input id="passwordInput" type="password">
<button id="login" (click)="login()">login</button>

<!-- Displaying data -->
<div style="display: block; overflow: scroll" class="div-table">
  <subentry-table *ngIf="dataToDisplay.length > 0" [loggedIn]="loggedIn" [headers]="headers"
                  [dataToDisplay]="this.dataToDisplay" [timeToHighlight]="timeToHighlight"
                  [categoryColors]="categoryColors">
  </subentry-table>
</div>

{{version}} {{environment}}

<!-- Testing -->
<div (dblclick)="testing = !testing" class="collapsible">Testing</div>
<br>

<!-- (Testing) Enter a new goal -->
<div [hidden]="!testing">
  <form (submit)="save('New Goal')">
    <label>New goal: </label>
    <select id="newGoalCategory" [disabled]="loggedIn === false">
      <option *ngFor="let category of categoryList" value="{{category}}">{{category}}</option>
    </select>
    <input id="newGoalName" placeholder="name" style="width: 100px" [disabled]="loggedIn === false" required>
    <input id="newGoalGoalCount" type="number" placeholder="goalCount" style="width: 70px" [disabled]="loggedIn === false" required>
    <input id="newGoalUnit" placeholder="unit" style="width: 50px" [disabled]="loggedIn === false" required>
    <input id="newGoalExpectedTimesOfCompletion" placeholder="time to complete" style="width: 100px" [disabled]="loggedIn === false" required>
    <input id="newGoalDetails" placeholder="details" style="width: 100px" [disabled]="loggedIn === false">
    <input type="submit" value="save">
  </form>
</div>

<!-- (Testing) Update an existing goal -->
<div [hidden]="!testing">
  <form (ngSubmit)="save('Modify Goal')">
    <label>Modify goal: </label>
    <select id="modifyGoalName" [disabled]="loggedIn === false" (change)="updateModifyInputElements('Modify Goal')">
      <option *ngFor="let name of goalList" value="{{name}}">{{name}}</option>
    </select>
    <input id="modifyGoalGoalCount" type="number" placeholder="goalCount" style="width: 70px" [disabled]="loggedIn === false">
    <input id="modifyGoalUnit" placeholder="unit" style="width: 50px" [disabled]="loggedIn === false">
    <input id="modifyGoalDetails" placeholder="details" style="width: 100px" [disabled]="loggedIn === false">
    <input id="modifyGoalExpectedTimesOfCompletion" placeholder="*time to complete" style="width: 100px" [disabled]="loggedIn === false">
    <input type="submit" value="save">
  </form>
</div>

{{saveMessage}}

<a href="#" onclick="window.open('https://console.firebase.google.com/u/0/project/hpj-tracker/firestore/data~2F'); return false;"
 [hidden]="!testing">My Cloud Firestore database link</a>

<!-- TODO Categories has "details" to have this kinda info -->
<!-- todo display entries of past dates -->
<!-- (Testing) display all categories and goals -->
<subentry-table [hidden]="!testing" [loggedIn]="loggedIn" [headers]="['category']" [dataToDisplay]="this.categories"></subentry-table>
<br>

<label [hidden]="!testing">{{this.activeGoals.length}} active goals </label>
<label [hidden]="!testing" style="background-color: #FF9999">({{this.archivedGoals.length}} archived goals)</label>
<subentry-table [hidden]="!testing" [loggedIn]="loggedIn" [headers]="['category', 'name', 'archived', 'goalCount', 'unit', 'expectedTimesOfCompletion', 'details']"
                [dataToDisplay]="this.goals"></subentry-table>
<br>

<!-- (Testing) display data of past 7 days -->
<label [hidden]="!testing">Past dates: </label>
<select id="modifyPastEntry" [hidden]="!testing" [disabled]="loggedIn === false" (change)="pastDate = $event.target.value">
  <option *ngFor="let date of pastDates" value="{{date}}">{{date}}</option>
</select>
<subentry-table [hidden]="!testing" [loggedIn]="loggedIn" [headers]="headers"
                [dataToDisplay]="this.dataQueriedPast[pastDate]"
                [categoryColors]="categoryColors">
</subentry-table>

<!-- todo: charts
  - display completion rates over days for multiple goals (with selection options)
  - allow changing the timeline
-->
<!-- todo: notifications -->
<!-- todo: handling money - based on the daily progress, move money from 'maybe' account to 'donate' and 'free to use' accounts -->
