<table>
  <tr>
    <th *ngIf="editMode"><input type="checkbox" [(ngModel)]="checkboxAll" (click)="selectAll()"></th>
    <th id="header" *ngFor="let column of this.headers" style="font-size: 12px" (dblclick)="this.headers.splice(this.headers.indexOf(column), 1);">
      <!-- display all column names as they are except display 'goalCount' as 'goal' to keep the column width smaller -->
      <label *ngIf="column !== 'goalCount' && column !== 'maxCount'">{{column}}</label>
      <label *ngIf="column === 'goalCount'">goal</label>
      <label *ngIf="column === 'maxCount'">max</label>
    </th>
  </tr>
  <ng-template ngFor let-row [ngForOf]="this.dataToDisplay" let-i="index">
    <tr id="content-row">
      <td *ngIf="editMode"><input type="checkbox" [(ngModel)]="row.checked"></td>
      <td id=content-column* *ngFor="let column of this.headers"
          [ngStyle]="{'white-space': column === 'details' ? 'nowrap' : 'inherit',
          'background-color': row.archived ? '#FF9999' :
                              column === 'time' && this.timeToHighlight === row[column] ? '#99CCFF' :
                              column === 'category' || column === 'name' ? categoryColors[row['category']] :
                              row['count'] <= row['goalCount']*2/5 && row['count'] >= row['goalCount']/5 ? '#fdfbf3' :
                              row['count'] <= row['goalCount']*3/5 && row['count'] >= row['goalCount']*2/5 ? '#fbf6e7' :
                              row['count'] <= row['goalCount']*4/5 && row['count'] >= row['goalCount']*3/5 ? '#fae3e0' :
                              row['count'] < row['goalCount'] && row['count'] >= row['goalCount']*4/5 ? '#fdc1dd' :
                              row['count'] >= row['goalCount'] ? '#ff9fda' : 'inherit'}">
        <!-- todo merge category column over multiple rows -->
        <!-- todo display streak -->
        <!-- TODO allow expectedTimesOfCompletion to be modified easily -->
        <label *ngIf="loggedIn === false && !(mobile === true && column === 'goalCount')
                      || (column !== 'count' && column !== 'entryDetails' && column !== 'details')">
          {{row[column]}}
        </label>

        <!-- count : type="tel" if mobile // type="number" if web -->
        <input *ngIf="!mobile && loggedIn === true && column === 'count'" type="number" value="{{row[column]}}" [disabled]="disable"
               (focusout)="updateEntry(row, column, $event)" (focusin)="row[column] === 0 ? row[column] = '' : null">
        <input *ngIf="mobile && loggedIn === true && column === 'count'" type="tel" value="{{row[column]}}" [disabled]="disable"
               (focusout)="updateEntry(row, column, $event)" (focusin)="row[column] === 0 ? row[column] = '' : null">

        <!-- goalCount on mobile: goalCount ~ maxCount (since 'impact' column exists, 'multiplier' column isn't necessarily shown -->
        <label *ngIf="mobile === true && loggedIn === true && column === 'goalCount'">
          <label *ngIf="row['goalCount'] === row['maxCount']">{{row['goalCount']}}</label>
          <label *ngIf="row['goalCount'] !== row['maxCount']">{{row['goalCount']}}~{{row['maxCount']}}</label>
        </label>

        <!-- entryDetails -->
        <div *ngIf="loggedIn === true && column.includes('entryDetails')">
          <button *ngFor="let detail of row[column] | keyvalue" (click)="updateEntryDetails(row, detail)"
                  [ngStyle]="{'background-color': detail.value ? '#BBFFBB' : '#FFCCEE'}">{{detail.key}}</button>
        </div>

        <!-- details -->
        <div *ngIf="loggedIn === true && column.includes('details')">
          <span *ngIf="row.detailsInTree === null || row.detailsInTree.length === 0">{{row[column]}}</span>
          <p-tree *ngIf="row.detailsInTree !== null && row.detailsInTree.length > 0" [value]="row.detailsInTree"></p-tree>
        </div>
      </td>
    </tr>
  </ng-template>
</table>
